/* latin */
@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: local("Abel Regular"), local("Abel-Regular"), url("./fonts/abel.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    height: 100%;
}

body {
    font-family: "Abel", "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #141414;
}

#p5_loading {
    margin: 0 50px;
    font-size: 2vw;
    text-align: center;
    color: white;
    white-space: pre-line;
}

#p5_loading h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#p5_loading h1::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    animation: loading-dots 1s linear infinite;
}

@keyframes loading-dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
}
